<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>
  <base href="/">

</head>

<body>

  <!-- Navigation -->
  <app-menu></app-menu>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="py-5 bg-dark" style="background-color: #02305f !important">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>